<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConverterdbEntities" connectionString="metadata=res://*/RecordsEDM.MariadbEDM.csdl|res://*/RecordsEDM.MariadbEDM.ssdl|res://*/RecordsEDM.MariadbEDM.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=das03071993;database=converterdb;Charset=utf8;port=3307&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>