<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FirebirdConnection" connectionString="user=SYSDBA;password=masterkey;database=C:\Work\aConverter_Data\033_Yrupinsk\Database\ABONENT.FDB;datasource=localhost;dialect=3;character set=WIN1251;pooling=true;minpoolsize=0;maxpoolsize=50;packet size=8192;servertype=0" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>
</configuration>